
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

button, input{

}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}



body{
	height: 100vh;
	/* in caso uscisse da body usiamo overflow per scegliere opzioni contenuto. */
	overflow: hidden;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
}

.main-content{
	flex-grow: 1;
	background-color: black;
}


body > * {
	border: 2px solid black;
	/* padding: 20px; */
}


.toolbars{
	background-color: rgb(12, 13, 27);
	display: flex;
	justify-content: space-between;
}

.toolbar{
	display: flex;
}

.toolbar__item{
	padding: 14px;
	flex-shrink: 0;
	color: aliceblue;
}

.toolbar__item.button{
	display: flex;
	align-items: center;
	text-align: center;
	gap: 16px;
}
.toolbar__item.button .button__icon{
	display: block;
}
.toolbar__item.button .button__icon{
	font-size: 30px;
	margin-bottom: 12px;
}

.end-meeting-button{
	
}


